.dashboard {
    background-color: darkslategrey
}

.container-fluid {
    background-color: whitesmoke;
    color: white;
    min-width: auto;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: white;
}

nav {
    background-color: white;
    padding: 5px;
}
/* .card {
    width: 300px;
    height: auto;
} */
 .card-img-top {
    width: 400px; 
    height: 400px;
    
    margin: 5%;
    border-radius: 50px;
 }
 .card{
    border-radius: 100px;
    text-align: center;
 }